.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    width: 40px;
}

.with-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
        height: 100px;
        margin-right: 20px;
    }
}

.disclaimer {
    background-color: var(--primary);
    color: white;
    padding: 2px 12px;
    width: fit-content;
    border-radius: 16px;
    font-size: 12px;
}

#side-menu {
    div {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: calc(100vw - 50px);
        flex-direction: column;
        gap: 30px;
        background-color: white;
        padding: 50px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
    &.open div {
        display: flex;
    }
    i {
        position: fixed;
        top: 40px;
        right: 15px;
        cursor: pointer;
    }
}